<!DOCTYPE html>
<html>
<head>
    <title>Catalog</title>
</head>
<body>
<h1> Catalog:  $name </h1>
<h2> Documents: </h2>
<table>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Location</th>
    </tr>
    #foreach ( $doc in $documents)
    <tr>
        <th>$doc.id</th>
        <th>$doc.name</th>
        <th>$doc.location</th>
    </tr>
    #end
</table>
</body>
</html>